.container-list {
    table, th, td {
        border: 1px solid #DCDFE6;
        border-collapse: collapse;
    }

    table {
        width: 100%;

        tr {
            th {
                padding: 15px;
                background-color: #f2f6fe;
            }
            td {
                padding: 10px 15px;
                border-top: none;
                border-bottom: none;
                font-size: 14px;
            }
            .title-code {
                width: 150px;
            }
            .title-name {
                width: 200px;
            }
            .product-text-left {
                text-align: left;
            }
        }
    }

    .pagination-wrap {
        text-align: left;
        margin-top: 20px;

        span {
            float: left;
        }
        .el-pagination {
            float: right;
            padding: 0;
        }
    }
}